name: Deploy Zola site

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          
      - name: Setup Zola
        run: |
          curl -sSL https://github.com/getzola/zola/releases/download/v0.17.2/zola-v0.17.2-x86_64-unknown-linux-gnu.tar.gz | sudo tar xz -C /usr/local/bin
          
      - name: Build
        run: zola build
        
      - name: Deploy
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git checkout --orphan gh-pages
          git rm -rf .
          cp -r public/* .
          git add .
          git commit -m "Deploy to GitHub Pages"
          git push origin gh-pages --force
